<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392043445420-m2cfboi1m9tvus386a882jvgt33i8eg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392043445420-m2cfboi1m9tvus386a882jvgt33i8eg3</string>
	<key>API_KEY</key>
	<string>AIzaSyCfByhmRwdu287Q10NtESXQ4GiC78c0jbk</string>
	<key>GCM_SENDER_ID</key>
	<string>392043445420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>u.EcommerceAppKit</string>
	<key>PROJECT_ID</key>
	<string>secondapp-ac128</string>
	<key>STORAGE_BUCKET</key>
	<string>secondapp-ac128.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392043445420:ios:24078efc9d50e30101f309</string>
</dict>
</plist>